@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-bottom,
.leaflet-control,
.leaflet-pane,
.leaflet-top {
    z-index: 0 !important;
}

:root {
    --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    padding: 0;
}

main {
    margin: 0 auto;
    padding: 1rem 1rem;
}

@layer base {
    h1 {
        @apply text-2xl font-bold mb-3;
    }

    h2 {
        @apply text-xl font-bold;
    }

    h3 {
        @apply text-lg font-bold;
    }

    title {
        @apply text-3xl text-center font-bold;
    }
}